.actions-menu {
	background: white;
	padding: 1rem;
	border-radius: 8px;
	border: solid 1px #ccc;
	position: relative;
	z-index: 10;
	margin-top: 4rem;
	margin-bottom: 1rem;
	.button {
		margin-right: 1ch;
		margin-bottom: 1ch;
		width: 100%;
	}
}
