:host {
	.time-choice {
		background: rgba(255, 255, 255, 1);
		padding: 0.5em;
		border-bottom: solid 1px #ccc;
		color: rgba(0, 0, 0, 0.87);
		box-sizing: border-box;
		cursor: move;
		background: white;
		font-size: 14px;
		padding-top: 1em;
		padding-bottom: 1em;
		input {
			display: inline-block;
			width: 70% !important;
			margin-right: 1ch;
			margin-left: 1ch;
		}
		.button {
			margin: 0;
		}
	}
	.btn i + span {
		margin-left: 1ch;
	}
	.btn + .btn {
		margin-left: 1em;
	}

	.cdk-drag-preview {
		box-sizing: border-box;
		border-radius: 4px;
		box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
			0 3px 14px 2px rgba(0, 0, 0, 0.12);
		border: 2px solid #ccc;
		background: blue;
		display: block;
	}

	.cdk-drag-placeholder {
		* {
			opacity: 0;
		}
		background: #dedede;
	}

	.cdk-drag-animating {
		transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
	}
	.movable {
		cursor: move;
	}

	app-time-list {
		margin-top: 1em;
		display: block;
	}
}
